{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block body %}
    <h1>Cliente index</h1>

    <table id="tabla-1" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rut</th>
                <th>Celular</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.rut }}</td>
                <td>{{ cliente.celular }}</td>
                <td>{{ cliente.mail }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('cliente_edit', {'id': cliente.id}) }}"><i class="far fa-edit"></i> edit</a>
                    <a class="btn btn-danger btn-modal-delete" data-delete="{{ path('cliente_delete', {'id': cliente.id}) }}" data-token="{{ csrf_token('delete' ~ cliente.id) }}" data-toggle="modal" data-target="#modalDelete" href="">Borrar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cliente_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready( function () {
        $('.tabla-1').DataTable();
    } );
</script>
{% endblock %}
