{% extends 'base.html.twig' %}

{% block title %} {{title|title}} {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block body %}
    <h1>Administrador index</h1>

    <table id="tabla-1" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rut</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for administrador in administradors %}
            <tr>
                <td>{{ administrador.Nombre }}</td>
                <td>{{ administrador.Apellido }}</td>
                <td>{{ administrador.rut }}</td>
                <td>{{ administrador.mail }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('administrador_edit', {'id': administrador.id}) }}"><i class="far fa-edit"></i> edit</a>
                    <a class="btn btn-danger btn-modal-delete" data-delete="{{ path('administrador_delete', {'id': administrador.id}) }}" data-token="{{ csrf_token('delete' ~ administrador.id) }}" data-toggle="modal" data-target="#modalDelete" href="">Borrar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block javascripts %}
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready( function () {
        $('.tabla-1').DataTable();



    } );
</script>
{% endblock %}