{% extends 'base.html.twig' %}

{% block title %}Nuevo Vehiculo{% endblock %}

{% block body %}
    <h1>Crea un nuevo Vehiculo</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}    
        <ul class="list-inline">
            <li class="list-inline-item" ><a class="btn btn-primary" href="{{ path('vehiculo_all') }}">Volver atras</a></li>
            <li class="list-inline-item" ><button class="btn btn-success">{{ button_label|default('Guardar') }}</button></li>
        </ul>
    {{ form_end(form) }}

{% endblock %}
